@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


.Votes {
    padding: 6px;
    width: 500px;
    margin: 20px auto;    
}

.vote_controls {
    text-align:center;
}

.bar {
    height: 30px;
    border-radius: 3px;
    margin: 2px 0;
}

#chocolate {
    background-color: brown;
}

#vanilla {
    background-color: blanchedalmond;
}

#strawberry {
    background-color: palevioletred;
}