
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

button {
    color: white;
    background-color: #0e3c7e;
    border-radius: 3px;
    border: .5px;
    padding: .6em;
    margin: 5px;

}

button:active {
    background-color: #1e60a9;
}

button:disabled {
    background-color: gray;
}

h1 {
    font-family: "Caveat", cursive;
    color: #0e3c7e;
    text-align: center;
}

h2 {
    font-family: "Caveat", cursive;
    text-align: center;
}

h3 {
    text-align: center;
}